.arrayFunctions
{
    background-color: yellow;
    height:fit-content;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;

}

.arrayFunctions h1
{
    text-align: center;
}